<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:e="http://typo3.org/ns/TYPO3/CMS/Epik/ViewHelpers">
<f:layout name="Default"/>

<f:section name="main">

<style>
	.section h2 {
		cursor: pointer;
	}
</style>
<form method="post" id="epp" action="">
<div class="epp-form-wrapper row-fluid">
<input type="hidden" name="currency" value="chf"/>
<input type="hidden" name="language" value="{language}"/>
<input type="hidden" name="css_url" value="http://localhost/epik/demo/css/demo.css"/> <!-- @todo -->

<div id="section1" class="section" step="1">
	<h2>
		<f:translate key="spendenzweck"/>
	</h2>
	<div class="section-body">
		<e:donationPurposes settings="{settings}"/>
	</div>
	<div class="epp-submit">
		<input class="btn epp-btn" type="submit" value="{f:translate(key:'next')}"/>
	</div>
</div>

<div id="section2" class="section hidden" step="2">

	<h2>
		<f:translate key="rhythmus"/>
	</h2>

	<div class="section-body">
		<!--<h4>-->
		<!--<f:translate key="please-choose-donation-rate"/>-->
		<!--</h4>-->

		<div class="epp-row radio">
			<label>
				<input class="radio recurring" type="radio" value="false" name="recurring" checked="checked"
				       id="type_single"/>
				<f:translate key="donation-once"/>
			</label>
		</div>

		<div class="epp-row radio">
			<label>
				<input class="radio recurring" type="radio" value="true" name="recurring" id="type_recurring"/>
				<f:translate key="donation-many"/>
			</label>
		</div>
		<div class="epp-row recurring hidden">
			<div class="radio-inline">
				<label>
					<input class="radio" type="radio" value="* * *" name="recurring_interval"
					       id="recurring_interval_daily"/>
					<f:translate key="donation-daily"/>
				</label>
			</div>
			<div class="radio-inline">
				<label>
					<input class="radio" type="radio" checked="checked" value="L * *" name="recurring_interval"
					       id="recurring_interval_monthly"/>
					<f:translate key="donation-monthly"/>
				</label>
			</div>
			<div class="radio-inline">
				<label>
					<input class="radio" type="radio" value="L */3 *" name="recurring_interval"
					       id="recurring_interval_quarterly"/>
					<f:translate key="donation-3-monthly"/>
				</label>
			</div>
			<div class="radio-inline">
				<label>
					<input class="radio" type="radio" value="L * L" name="recurring_interval"
					       id="recurring_interval_yearly"/>
					<f:translate key="donation-yearly"/>
				</label>
			</div>
		</div>
		<div class="epp-row recurring hidden">
			<label for="stored_customer_email" class="left">Email:</label>
			<input class="" type="text" value="" name="stored_customer_email" id="stored_customer_email"/>
		</div>
	</div>
	<div class="epp-submit">
		<input class="btn epp-btn" type="submit" value="{f:translate(key:'next')}"/>
	</div>
</div>

<div id="section3" class="section hidden" step="3">

	<h2>
		<f:translate key="spendenbetrag"/>
	</h2>

	<div class="section-body">
		<!--<h4>-->
		<!--<f:translate key="please-choose-donation-amount"/>-->
		<!--</h4>-->

		<e:defaultAmounts settings="{settings}"/>

		<div class="epp-row">

			<div class="radio-inline">
				<label>
					<input class="radio" type="radio" value="" name="amount" id="amount_free"/>
					<f:translate key="other-amount"/>
				</label>
			</div>
			<input type="text" name="free_amount" id="free_amount" value="" class="numeric short"
			       min="1" max="999999" minlength="1"/>
			<label class="right" for="free_amount"> CHF</label>
		</div>

		<div class="epp-submit">
			<input class="btn epp-btn" type="submit" value="{f:translate(key:'next')}"/>
		</div>
	</div>
</div>

<div id="section4" class="section hidden" step="4">
	<h2>
		<f:translate key="payment-method"/>
	</h2>

	<div class="section-body">
		<!--<h4>-->
		<!--<f:translate key="how-do-you-want-to-pay"/>-->
		<!--</h4>-->

		<div class="epp-row radio">
			<f:if condition="{settings.isBillPayment}">
				<input type="radio" checked="checked" name="payment_method" value="ezs"
				       id="pmethod_ezs" class="required radio"/>
				<label class="right"
				       for="pmethod_ezs">
					<f:translate key="bill"/>
				</label>
			</f:if>
		</div>
		<div class="epp-row radio">

			<input type="radio" name="payment_method_cc" value="cc" id="pmethod_cc"
			       class=" radio"/>
			<label class="right"
			       for="pmethod_cc">
				<f:translate key="credit-card"/>
			</label>
		</div>
		<div class="epp-cc-selection hidden">
			<f:if condition="{settings.isVisaPayment}">
				<div class="epp-row radio col-md-offset-1">

					<label class="right">
						<input type="radio" name="payment_method" value="vis" id="pmethod_vis"
						       class="required radio"/>Visa
					</label>
				</div>
			</f:if>
			<f:if condition="{settings.isAmericanExpressPayment}">
				<div class="epp-row radio col-md-offset-1">
					<label class="right">
						<input type="radio" name="payment_method" value="amx" id="pmethod_amx"
						       class="required radio"/>
						American Express
					</label>
				</div>
			</f:if>

			<f:if condition="{settings.isMasterCardPayment}">
				<div class="epp-row radio col-md-offset-1">
					<label class="right">
						<input type="radio" name="payment_method" value="eca" id="pmethod_eca"
						       class="required radio"/>
						MasterCard
					</label>
				</div>
			</f:if>
		</div>

		<f:if condition="{settings.isPostPayment}">
			<div class="epp-row radio">
				<label class="right">
					<input type="radio" name="payment_method" value="pos" id="pmethod_pos"
					       class="required radio"/>

					<f:translate key="post"/>
				</label>
			</div>
		</f:if>
		<f:if condition="{settings.isSmsPayment}">
			<div class="epp-row radio">
				<label class="right">
					<input type="radio" name="payment_method" value="sms" id="pmethod_sms"
					       class="required radio"/>
					SMS
				</label>
			</div>
		</f:if>

		<f:if condition="{settings.isPayPalPayment}">
			<div class="epp-row radio">
				<label class="right">
					<input type="radio" name="payment_method" value="pex" id="pmethod_pex"
					       class="required radio"/>
					PayPal Express Checkout
				</label>
			</div>
		</f:if>
	</div>
	<div class="epp-submit">
		<input class="btn epp-btn" type="submit" value="{f:translate(key:'next')}"/>
	</div>
</div>

<div id="section5" class="section hidden" step="5">

	<h2>
		<f:translate key="person"/>
	</h2>

	<div class="section-body">
		<div class="section-body">

			<div class="epp-row">
				<label class="long">
					<f:translate key="enter-personal-data"/>
				</label>

				<br/>
				<div class="radio-inline">
					<label class="right">
						<input type="radio" value="true" name="anonym" id="anonym_yes" checked="checked"/>
						<f:translate key="yes"/>
					</label>
				</div>
				<div class="radio-inline">
					<label for="anonym_no">
						<input class="radio" type="radio" value="false" name="anonym" id="anonym_no"/>
						<f:translate key="no"/>
					</label>
				</div>

			</div>
			<div class="address">
				<div class="epp-row form-group">
					<label class="long">
						<f:translate key="title"/>
					</label>

					<br />

					<div class="radio-inline">
						<label class="right">
							<input type="radio" name="stored_customer_title"
							       value="Frau" id="salutation_1" class="required radio" checked/>
							<f:translate key="madam"/>
						</label>

						<div class="radio-inline">
						</div>
						<label>
							<input type="radio"
							       name="stored_customer_title" value="Herr" class="required radio" id="salutation_2"/>
							<f:translate key="mister"/>
						</label>
					</div>
				</div>
				<div class="epp-row form-group">
					<label class="long" for="stored_customer_firstname">
						<f:translate key="first-name"/>
					</label>
					<input class="text required long form-control" type="text" name="stored_customer_firstname"
					       id="stored_customer_firstname"
					       value=""/>

				</div>
				<div class="epp-row form-group">
					<label class="long" for="stored_customer_lastname">
						<f:translate key="last-name"/>
					</label>
					<input class="text required long form-control" id="stored_customer_lastname" type="text"
					       name="stored_customer_lastname"
					       value=""/>
				</div>
				<div class="epp-row form-group">
					<label class="long" for="stored_customer_street">
						<f:translate key="street"/>
					</label>
					<input type="text" id="stored_customer_street" class="text required long form-control"
					       name="stored_customer_street"
					       value=""/>
				</div>
				<div class="epp-row form-group">

					<label class="long" for="stored_customer_street2">
						<f:translate key="address2"/>
					</label>
					<input type="text" class="text long form-control" name="stored_customer_street2" id="stored_customer_street2"
					       value=""/>
				</div>
				<div class="epp-row form-group">
					<label class="long" for="plzort">
						<f:translate key="zip"/>
					</label>

					<div class="form-inline">

						<input type="text" min="1000" max="99999" class="input-sm digits required form-control"
						       id="plzort" name="stored_customer_zip_code" style="width: 20%; margin-right: 4%" value=""/>
						<input class=" place required form-control" type="text" name="stored_customer_city"
						       value="" style="width: 75%;"/>
					</div>
				</div>
				<div class="epp-row form-group">
					<label class="long" for="stored_customer_email">
						<f:translate key="email"/>
					</label>
					<input type="text" name="stored_customer_email"
					       value="" class="long text email required form-control"/>

				</div>
				<div class="epp-row checkbox">
					<label class="long" for="stored_emailpermission">
						<input class="radio" type="checkbox"
						       id="stored_emailpermission"
						       checked="checked" name="stored_emailpermission" value="true" id="emailpermission"/>
						<f:translate key="condition"/>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="epp-submit">
		<input class="btn epp-btn" type="submit" value="{f:translate(key:'donate')}"/>
	</div>
</div>

<div id="section6" class="section  iframeSection hidden" step="5">
	<h2>
		<f:translate key="payment"/>
	</h2>
	<div class="section-body">
		<div id="iframe_wrapper" class="iframe_wrapper">
		</div>

	</div>
</div>
</div>


</form>

</f:section>
</html>
