
<v:asset.style name="jquery-tipsy-style" path="{f:uri.resource(path:'StyleSheets/jquery.tipsy.css')}"/>

<!-- load jquery a second time because of compatibility issue -->
<v:asset.script name="jquery2" path="{f:uri.resource(path:'JavaScript/jquery.min.js')}"/>
<v:asset.script name="jquery-validate" path="{f:uri.resource(path:'JavaScript/jquery.validate.min.js')}"/>
<v:asset.script name="jquery-tipsy" path="{f:uri.resource(path:'JavaScript/jquery.tipsy.js')}"/>
<v:asset.script name="epik" path="{f:uri.resource(path:'JavaScript/epik-0.9.13.min.js')}"/>
<v:asset.script name="jquery-validate-localized" path="{f:uri.resource(path:'JavaScript/jquery.validate.localized.messages.{s:languageCode()}.js')}"/>

<script type="text/javascript">

var epik;
$().ready(function() {
	var epikOptions = {};
	epikOptions['iframe_loading_page'] = '{f:uri.page(pageUid: "{settings.rootPageUid}", absolute: "true")}?type=1387446340';
	epikOptions['error_url'] = '{f:uri.page(pageUid: "{settings.rootPageUid}", absolute: "true")}?type=1387446341';
	epikOptions['cancel_url'] = '{f:uri.page(pageUid: "{settings.rootPageUid}", absolute: "true")}?type=1387446342';
	epikOptions['success_url'] = '{f:uri.page(pageUid: "{settings.rootPageUid}", absolute: "true")}?type=1387446343';
	//epikOptions['pollstatus_url'] = '{f:uri.page(pageUid: "{settings.rootPageUid}", absolute: "true")}?type=1387446344' // not implemented
	epikOptions['apiendpoint'] = 'https://dds-pay.getunik.net/epayment/api/step/pay/merchant/{settings.merchant}';
	epikOptions['test_mode'] = '{settings.testMode}';
	epikOptions['method'] = 'POST';
	epikOptions['mobile_mode'] = 'false';
	epikOptions['enable_jquery'] = 'true';
	epikOptions['iframe_container'] = 'iframe_wrapper';
	epikOptions['trigger_event'] = 'click';
	epikOptions['auto_submit'] = 'true';
	epikOptions['currency'] = 'chf';
	epikOptions['language'] = '{s:languageCode()}';
	epikOptions['popup'] = 'true';

	epik = new EPIK("epp", epikOptions);

	initepik(epik);

	var donationform = $("#epp");

	$(".section").bind("click", function(e) {
		if ($(this).hasClass("step-overlay")) {
			var step = $(this).attr("step");
			$('.tipsy').fadeOut(200);
			if (step == "1") {
				enable($("#section1"));
				$("#section2").fadeOut(300);
				$("#section3").fadeOut(300);
				$("#section4").fadeOut(300);
				$("#section5").fadeOut(300);
			} else if (step == "2") {
				enable($("#section2"));
				$("#section3").fadeOut(300);
				$("#section4").fadeOut(300);
				$("#section5").fadeOut(300);
			} else if (step == "3") {
				enable($("#section3"));
				$("#section4").fadeOut(300);
				$("#section5").fadeOut(300);
			} else if (step == "4") {
				enable($("#section4"));
				$("#section5").fadeOut(300);
			}

		}
	});

	$(".section .epp-btn").bind("click", function(e) {
		e.stopPropagation();
		e.preventDefault();
		if (!donationform.valid()) {
			return;
		}
		$(".tipsy").fadeOut();


		var currentSection = $(this).parents("div.section");
		var step = currentSection.attr("step");
		if (step == "1") {
			var nextSection = $("#section3"); // decrement -1 here to bring the "rhythmus" step back.
		} else if (step == "2") { // will never be true because of comment above.
			var nextSection = $("#section3");
		} else if (step == "3") {
			var nextSection = $("#section4");
		} else if (step == "4") {
			var nextSection = $("#section5");
		}

		if (step != "5" && typeof(nextSection) != "undefined") {
			nextSection.removeClass("step-overlay");
			nextSection.find(".section-body").show();
			nextSection.slideDown();
			nextSection.find(".epp-btn").fadeIn();
			nextSection.removeClass("hidden");
			disable(currentSection);
			currentSection.find(".section-body").slideUp();
			if (step == "3") {
				var recurring = $("input.recurring:checked").val();
				var amount = $("input[name='amount']:checked").val();
				if (recurring == "false") {
					showAllPaymentMethods();
				}

				if (amount >= 10000 && !(recurring == "true")) {
					hideSms();
				} else if (amount < 10000 && !( recurring == "true")) {
					showSms();
				}
			}
		} else if (step == "5") {
			updateEpikFields();
			donationform.submit();
			$(".section").not(".iframeSection").slideUp();
			$(".iframeSection").slideDown().removeClass("hidden");
		}
//		$.scrollTo("max");
	});

	$("#free_amount").bind("click", function() {
		$("#amount_free")[0].checked = true;
		$("#free_amount").addClass("required");
	});

	$("#free_amount").bind("focus", function() {
		$("#amount_free")[0].checked = true;
		$("#free_amount").addClass("required");
	});

	$("input[name='amount']").bind("change", function() {
		if (this.id == "amount_free") {
			$("#free_amount").addClass("required");
			$("#free_amount").focus();
		} else {
			$("#free_amount").removeClass("required");
			$("#free_amount").val("");
			$(".tipsy").fadeOut();
		}
	});

	$("#free_amount").bind("keyup", function() {
		var tempAmount = $("#free_amount").val() + "00";
		$("#amount_free").val(tempAmount);
		if (tempAmount == 500 || tempAmount == 2000 || tempAmount == 5000) {
			epik.options.amount = tempAmount;
		} else {
			epik.setAmount(tempAmount);
		}

	});


	$("#section4 div.epp-row input").bind("change", function() {
		var ccSelection = $(".epp-cc-selection");
		var clicked = $(this).val();
		if (clicked == "cc") {
			if (ccSelection.hasClass("hidden")) {
				ccSelection.slideDown(400);
				ccSelection.removeClass("hidden");
				epik.setPaymentMethod("vis");
			}
		} else if (!(clicked == "vis" || clicked == "eca" || clicked == "amx")) {
			ccSelection.slideUp(400, function() {
				ccSelection.addClass("hidden")
			});
			$("#pmethod_cc")[0].checked = false;
		}
		$("#section4 .epp-row input.not(#pmethod_vis)").each(function() {
			$(this)[0].checked = false;
		});
		if (clicked == "vis" || clicked == "eca" || clicked == "amx") {
			$(".epp-row input[name='payment_method_cc']")[0].checked = true;
		}
		$(this)[0].checked = true;
	});


	$("#type_recurring").bind("click", function() {
		$("div.recurring").slideDown();
		$("div.recurring").removeClass("hidden");
		$("#stored_customer_email").addClass("required email");
		hideAllNonRecurring();
	});

	$("#type_single").bind("click", function() {
		$("div.recurring").slideUp(300, function() {
			$("div.recurring").addClass("hidden");
			$("#stored_customer_email").removeClass("required email");
			donationform.validate().showErrors();
		});
	});

	$("#anonym_no").bind("click", function() {
		$("div.adress input").each(
				function() {
					if (this.name == "email") {
						$(this).removeClass("email");
					} else if (this.name == "postcode") {
						$(this).removeClass("digits");
					} else {
						$(this).removeClass("required");
					}
					$(this).removeClass("error");
				}
		);
		$('.tipsy').fadeOut(300);
		$("div.address").slideUp(300, function() {
//			$.scrollTo("max");
		});
	});

	$("#anonym_yes").bind("click", function() {
		$("div.address").slideDown(300, function() {
//			$.scrollTo("max");
		});
		$("div.address input").each(
				function() {
					if (this.name == "email") {
						$(this).addClass("email");
					} else if (this.name != "address2" && this.name != "postcode" && this.name != "stored_emailpermission") {
						$(this).addClass("required");
					} else if (this.name == "postcode") {
						$(this).addClass("digits");
					}
				}
		);
	});

	var validator = donationform.validate({
		errorElement: "div",
		errorPlacement: function(error, element) {
			var orientation = "w";
			if ($(element).attr("name") == "stored_customer_title") {
				var el = $("label[for='salutation_2']");
			} else if ($(element).attr("name") == "free_amount") {
				var el = $("label[for='free_amount']");
			} else {
				var el = $(element);
			}
			if (el.attr("name") == "stored_customer_zip_code") {
				orientation = "e";
			}
			el.attr('original-title', error.html());
			el.tipsy({title: function() {
				return this.getAttribute('original-title')
			}, fade: false, delayOut: 1000, trigger: 'manual', html: true, gravity: orientation});
			el.tipsy('show');
		},
		unhighlight: function(element, errorClass, validClass) {
			if ($(element).attr("name") == "stored_customer_title") {
				$("label[for='salutation_2']").tipsy('hide');
			} else {
				$(element).tipsy('hide');
			}
		}
	});

	initform(donationform);

	if (epikOptions['test_mode']) {
		$('.message-test-mode').show();
	}
});

function moveTipsy() {
	if ($(".error").length > 0) {
		$("#epp").validate().showErrors();
	}
}
function disable(section) {
	section.addClass("step-overlay")
	section.find(".epp-btn").hide();
}

function enable(section) {
	section.find(".section-body").slideDown(200, function() {
		section.find(".epp-btn").fadeIn(200);
	});

	section.removeClass("step-overlay");
}

function showAllPaymentMethods() {
	$("#pmethod_ezs").parent().show();
	$("#pmethod_pos").parent().show();
	$("#pmethod_pex").parent().show();
	showSms();
	$("#pmethod_ezs").click();
}

function hideAllNonRecurring() {
	$("#pmethod_cc").click();
	$("#pmethod_ezs").parent().hide();
	$("#pmethod_pos").parent().hide();
	$("#pmethod_pex").parent().hide();
	hideSms();

}

function hideSms() {
	$("#pmethod_sms").parent().hide();
}

function showSms() {
	$("#pmethod_sms").parent().show();
}

function initform(form) {
	form.get(0).reset();
	epik.setPaymentMethod("ezs");
}

function initepik(epik) {
	epik.updateForm();
}

function updateEpikFields() {
	epik.setPayerLine(1, $("#section5 input[name='stored_customer_firstname']").val() + " " + $("#section5 input[name='stored_customer_lastname']").val());
	epik.setPayerLine(2, $("#section5 input[name='stored_customer_street']").val());
	epik.setPayerLine(3, $("#section5 input[name='stored_customer_street2']").val());
	epik.setPayerLine(4, $("#section5 input[name='stored_customer_zip_code']").val() + " " + $("#section5 input[name='stored_customer_city']").val());
	epik.setRefNo("123456789");
}

</script>


<strong style="color: red; display: none" class="message-test-mode">TEST MODE ACTIVATED. TRANSACTIONS WILL BE FAKED. USE TEST CREDIT CARD INSTEAD.</strong>
<f:render section="main" />
{namespace v=Tx_Vhs_ViewHelpers}
{namespace s=TYPO3\CMS\Speciality\ViewHelpers}
